.navbar {
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-button {
  background: rgba(0, 0, 1, 0.6);
  color: #ffffff;
  border: 2px solid rgba(0, 0, 1, 0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.523);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-button:hover {
  background: #6c00a2;
  color: #ebeaea;
}
