.login-container {
  position: relative;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.back-button {
  position: absolute;
  top: 2rem;
  left: 2rem;
  background: rgba(0, 0, 1, 0.6);
  color: #ffffff;
  border: 2px solid rgba(0, 0, 1, 0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.523);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.back-button:hover {
  background: #6c00a2;
  color: #ebeaea;
}

.login-form-wrapper {
  background: rgba(0, 0, 1, 0.6);
  padding: 2rem 3rem;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  text-align: center;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.813);
}

.login-form-wrapper h1 {
  color: white;
  margin-bottom: 1.5rem;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.login-form-wrapper input {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  border: 0.1px solid #fff;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.login-form-wrapper input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.login-form-wrapper button[type="submit"] {
  width: 100%;
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 8px;
  background: #6c00a2;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.login-form-wrapper button[type="submit"]:hover {
  background: #4e007c;
}

.error-text {
  color: #ff4d4d;
  margin-bottom: 1rem;
}

.register-link {
  text-align: center;
  margin-top: 1rem;
  color: white;
  font-size: 0.9rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.register-link a {
  color: #bb86fc;
  text-decoration: underline;
}

.register-link a:hover {
  color: #9a4fff;
}
